<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="particles-js"></div>
    <header>
        <div class="search-icon"></div>
    </header>
    <main>
        <div class="ask-container">
            <h1>Hello!, Want a New movie to Watch ?</h1>
            <div class="search-bar-container">
                <div class="search-bar">
                    <form action="/recommend" method="POST">
                        <input type="text" name="favorite_movie" placeholder="Your favorite movie">
                        <button id="button-align" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        {% if recommendations %}
        <h2>Recommended Movies:</h2>
        <div class="recommendations">
            {% for movie in recommendations %}
            <div class="movie">
                <h3>{{ movie.title }}</h3>
                <p>Average Vote: {{ movie.vote_average }}</p>
                <p>Vote Count: {{ movie.vote_count }}</p>
                <p>Movie Homepage: <a href="{{ movie.links }}" target="_blank">{{ movie.links }}</a></p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </main>
<!--    <footer>-->
<!--        <div class="footer-placeholder"></div>-->
<!--    </footer>-->
<!--    add footer link githu nad other recs like linkde prof and good reads as well and project pro link too when done-->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
